<f:if condition="{fe_user}">
	<f:then>
		<button type="button" class="btn btn-success navbar-btn navbar-right" data-toggle="modal"
						data-target="#feLoginModal">Abmelden
		</button>
	</f:then>
	<f:else>
		<button type="button" class="btn btn-danger navbar-btn navbar-right" data-toggle="modal"
						data-target="#feLoginModal">Anmelden
		</button>
	</f:else>
</f:if>
