<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
							aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="index.php">Basic Template Site</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<f:cObject typoscriptObjectPath="lib.navigation.top"/>

		</div><!--/.nav-collapse -->
	</div>
</nav>

<div class="container">

	<f:render section="main"/>

</div>


<div class="container">
	<div class="row">
		<div class="col-md-8">
			<h2>Interessante Links</h2>

			<div class="row">
				<div class="col-md-4">
					<ul class="link-list last-child">
						<li><a href="index.php?id=3#">Neque amet dapibus</a></li>
						<li><a href="index.php?id=3#">Sed mattis quis rutrum</a></li>
						<li><a href="index.php?id=3#">Accumsan suspendisse</a></li>
						<li><a href="index.php?id=3#">Eu varius vitae magna</a></li>
					</ul>
				</div>
				<div class="col-md-8">
					<ul class="link-list last-child">
						<li><a href="index.php?id=3#">Neque amet dapibus</a></li>
						<li><a href="index.php?id=3#">Sed mattis quis rutrum</a></li>
						<li><a href="index.php?id=3#">Accumsan suspendisse</a></li>
						<li><a href="index.php?id=3#">Eu varius vitae magna</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<h2>Kontakt</h2>

			<p>
				<b>Jan Helke</b> - Codegeneer<br/>
				TYPO3 GmbH<br/>
				Am Wehrhahn 41 - 40211 Düsseldorf<br/>
				<a href="jan.helke@typo3.com">jan.helke@typo3.com</a><br/>
			</p>
		</div>
	</div>
</div>
