<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Templates for felogin</title>
</head>
<body>

<h1>Common markers</h1>
<p>These are substituted in all felogin item displaying templates.</p>

<h2>Markers</h2>
<ul>
	<li>###ACTION_URI### - URI of the request for the login/logout form</li>
	<li>###EXTRA_HIDDEN### - Hook required (additional hidden field used by kb_md5fepw extension by Kraft Bernhard)</li>
	<li>###ON_SUBMIT### - Hook required (used by kb_md5fepw extension by Kraft Bernhard)</li>
	<li>###PREFIXID### - Same as class name ('tx_felogin_pi1') useful to get a unique classname prefix</li>
	<li>###REDIRECT_URL### - URL of redirection upon login</li>
	<li>###NOREDIRECT### - if set, no redirect will be done</li>
	<li>###STORAGE_PID### - explicit enough I guess (if not : id of the page where user are stored)</li>
	<li>###STATUS_HEADER### - depends of the template</li>
	<li>###STATUS_MESSAGE### - depends of the template</li>
</ul>

<h2>Wrap parts</h2>
<ul>
	<li>###HEADER_VALID### - useful to define what to show/hide</li>
	<li>###MESSAGE_VALID### - useful to define what to show/hide</li>
	<li>###FORGOTP_VALID### - useful to define what to show/hide</li>
	<li>###PERMALOGIN_VALID### - useful to define what to show/hide</li>
</ul>

<h2>felogin Language Markers (see pi/locallang.xml)</h2>
<ul>
	<li>###EMAIL_LABEL### - corresponding to 'your_email'</li>
	<li>###FORGOT_PASSWORD### - corresponding to 'forgot_password'</li>
	<li>###FORGOT_PASSWORD_BACKTOLOGIN### - corresponding to 'forgot_password_backToLogin'</li>
	<li>###FORGOT_PASSWORD_ENTEREMAIL### - corresponding to 'forgot_password_enterEmail'</li>
	<li>###LOGIN_LABEL### - corresponding to 'login'</li>
	<li>###PASSWORD_LABEL### - corresponding to 'password'</li>
	<li>###SEND_PASSWORD### - corresponding to 'send_password'</li>
	<li>###USERNAME_LABEL### - corresponding to 'username'</li>
</ul>

<div class="modal fade" id="feLoginModal" tabindex="-1" role="dialog" aria-labelledby="feLoginModalLabel"
		 aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
					aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="feLoginModalLabel">Modal title</h4>
			</div>
			<div class="modal-body">
				<f:cObject typoscriptObjectPath="plugin.tx_felogin_pi1"/>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>


<!--###TEMPLATE_LOGIN###-->
<!-- ###LOGIN_FORM### -->
<!-- Modal -->
<form action="###ACTION_URI###" target="_top" method="post" onsubmit="###ON_SUBMIT###">
	<div class="modal fade" id="feLoginModal" tabindex="-1" role="dialog" aria-labelledby="feLoginModalLabel"
			 aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
						aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="feLoginModalLabel">###STATUS_HEADER###</h4>
				</div>
				<div class="modal-body">
					<div>
						###STATUS_MESSAGE###
					</div>
					<div class="form-group">
						<label for="user">###USERNAME_LABEL###</label>
						<input type="text" id="user" name="user" class="form-control" value=""/>
					</div>
					<div class="form-group">
						<label for="pass">###PASSWORD_LABEL###</label>
						<input type="password" id="pass" name="pass" class="form-control" value=""/>
					</div>
					<!--###PERMALOGIN_VALID###-->
					<div>
						<label for="permalogin">###PERMALOGIN###</label>
						<input name="permalogin" value="0" type="hidden" ###PERMALOGIN_HIDDENFIELD_ATTRIBUTES###
									 id="permaloginHiddenField"/>
						<input name="permalogin" value="1" type="checkbox" ###PERMALOGIN_CHECKBOX_ATTRIBUTES### id="permalogin"
									 onclick="document.getElementById('permaloginHiddenField').disabled = this.checked;"/>
					</div>
					<!--###PERMALOGIN_VALID###-->

					<!--###FORGOTP_VALID###-->
					<div><!--###FORGOT_PASSWORD_LINK###-->###FORGOT_PASSWORD###<!--###FORGOT_PASSWORD_LINK###--></div>
					<!--###FORGOTP_VALID###-->

					<div class="felogin-hidden">
						<input type="hidden" name="logintype" value="login"/>
						<input type="hidden" name="pid" value="###STORAGE_PID###"/>
						<input type="hidden" name="redirect_url" value="###REDIRECT_URL###"/>
						<input type="hidden" name="###PREFIXID###[noredirect]" value="###NOREDIRECT###"/>
						###EXTRA_HIDDEN###
					</div>
				</div>
				<div class="modal-footer">
					<input type="submit" class="btn btn-primary" name="submit" value="###LOGIN_LABEL###"/>
				</div>
			</div>
		</div>
	</div>
</form>

<!-- ###LOGIN_FORM### -->
<!--###TEMPLATE_LOGIN###-->

<!--###TEMPLATE_LOGOUT###-->

<!-- Modal -->
<form action="###ACTION_URI###" target="_top" method="post">
	<div class="modal fade" id="feLoginModal" tabindex="-1" role="dialog" aria-labelledby="feLoginModalLabel"
			 aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
						aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="feLoginModalLabel">###STATUS_HEADER###</h4>
				</div>
				<div class="modal-body">
					<div>
						###STATUS_MESSAGE###
					</div>
					<div>
						<label>###USERNAME_LABEL###</label>
						###USERNAME###
					</div>

					<div class="felogin-hidden">
						<input type="hidden" name="logintype" value="logout"/>
						<input type="hidden" name="pid" value="###STORAGE_PID###"/>
						<input type="hidden" name="###PREFIXID###[noredirect]" value="###NOREDIRECT###"/>
					</div>
				</div>
				<div class="modal-footer">
					<input type="submit" class="btn btn-primary" name="submit" value="###LOGOUT_LABEL###"/>
				</div>
			</div>
		</div>
	</div>
</form>

<!--###TEMPLATE_LOGOUT###-->

<!--###TEMPLATE_FORGOT###-->

<!-- Modal -->
<form action="###ACTION_URI###" target="_top" method="post">
	<div class="modal fade" id="feLoginModal" tabindex="-1" role="dialog" aria-labelledby="feLoginModalLabel"
			 aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
						aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="feLoginModalLabel">###STATUS_HEADER###</h4>
				</div>
				<div class="modal-body">
					<div>
						###STATUS_MESSAGE###
					</div>
					<div class="form-group">
						<label for="tx_felogin_pi1-forgot-email">###DATA_LABEL###</label>
						<input type="text" name="###FORGOT_EMAIL###" id="tx_felogin_pi1-forgot-email" class="form-control"/>
					</div>

					<p>###BACKLINK_LOGIN###&nbsp;</p>
				</div>
				<div class="modal-footer">
					<input type="submit" class="btn btn-primary" name="submit" value="###SEND_PASSWORD###"/>
				</div>
			</div>
		</div>
	</div>
</form>

<!--###TEMPLATE_FORGOT###-->

<!--###TEMPLATE_CHANGEPASSWORD###-->

<!-- Modal -->
<!-- ###CHANGEPASSWORD_FORM### -->
<form action="###ACTION_URI###" target="_top" method="post">
	<div class="modal fade" id="feLoginModal" tabindex="-1" role="dialog" aria-labelledby="feLoginModalLabel"
			 aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
						aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="feLoginModalLabel">###STATUS_HEADER###</h4>
				</div>
				<div class="modal-body">
					<div>
						###STATUS_MESSAGE###
					</div>
					<div class="form-group">
						<label for="tx_felogin_pi1-newpassword1">###NEWPASSWORD1_LABEL###</label>
						<input type="password" name="###NEWPASSWORD1###" id="tx_felogin_pi1-newpassword1" class="form-control"/>
					</div>
					<div class="form-group">
						<label for="tx_felogin_pi1-newpassword2">###NEWPASSWORD2_LABEL###</label>
						<input type="password" name="###NEWPASSWORD2###" id="tx_felogin_pi1-newpassword2" class="form-control"/>
					</div>
					###BACKLINK_LOGIN###

				</div>
				<div class="modal-footer">
					<input type="submit" class="btn btn-primary" name="tx_felogin_pi1[changepasswordsubmit]"
								 value="###SEND_PASSWORD###"/>
				</div>
			</div>
		</div>
	</div>
</form>
<!-- ###CHANGEPASSWORD_FORM### -->

<!--###TEMPLATE_CHANGEPASSWORD###-->
