<f:layout name="Default"/>
<f:section name="main">


	<div class="row">
		<!--TYPO3SEARCH_begin-->
		<div class="col-md-3">
			<f:cObject typoscriptObjectPath="lib.content.getLeft"/>
		</div>
		<div class="col-md-9">
			<f:cObject typoscriptObjectPath="lib.content.get"/>
		</div>


		<!--TYPO3SEARCH_end-->
	</div>

</f:section>
